/* ========
google font
=========*/
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,700|Grand+Hotel");
/* ========
color
=========*/
:root {
  /* color */
  --rich-black-fogra: #000814ff;
  --oxford-blue: #001d3dff;
  --prussian-blue: #003566ff;
  --mikado-yellow: #ffc300ff;
  --gold-web-golden: #ffd60aff;
  /* color */
  /* font */
  --ff-primary: "catamaran", Sans-serif;
  --ff-secondary: "Grand hotel", cursive;
  /* font */
  --transition: 0.3s linear all;
  --letter-spacing: 0.25rem;
  --radius-border: 0.5rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--rich-black-fogra);
  color: white;
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 0.825;
  }
}
/* ========
another global style
=========*/
.btn {
  transition: var(--transition);
  text-transform: uppercase;
  font-weight: 700;
  background-color: maroon;
  color: white;
  padding: 10px 20px;
}
.btn:hover,
.btn:active {
  background-color: white;
  color: var(--rich-black-fogra);
}
.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}
.judul-persection {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.lebar-default {
  width: 85vw;
  margin: 0 auto;
}
.btn-dua {
  background-color: var(--mikado-yellow);
  color: var(--rich-black-fogra);
}

/* ========
end of another global style
=========*/
/* navigation-------------------navigation */
/* navigation-------------------navigation */
/* navigation-------------------navigation */
.nav-btn {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem 1.25rem;
  z-index: 1;
  animation: malik ease-in-out 2s infinite;
  font-size: 2rem;
}
/* setelah @keyframe adalah nama yang bisa kita pakai sesuka hati karena mirip seperti variable yang bisa di pakai berulang kali dengan 'menyatakan' dan 'memanggil' */
@keyframes malik {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
/* ========
header
=========*/
.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(112, 14, 14, 0.3)),
    url(../images/main-bcgnd.jpg) center/cover no-repeat fixed;
  position: relative;
  text-align: center;
}
.banner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-heading {
  margin-bottom: 3rem;
}
.secondary-main-heading {
  font-family: var(--ff-secondary);
  color: var(--gold-web-golden);
  margin-bottom: 2rem;
  text-decoration: underline;
  /* animation */
}
.button-banner {
  display: inline-block;
  outline: white solid 0.25rem;
  outline-offset: 0.25rem;
  letter-spacing: var(--letter-spacing);

  /* animation */
}
.button-banner:hover,
.button-banner:active {
  outline: white solid 0.25rem;
  outline-offset: 0;
}
/* ========
end of header
=========*/
.content-devider {
  height: 10px;
  width: 100%;
  background: linear-gradient(
    90deg,
    var(--rich-black-fogra) 10%,
    rgb(0, 71, 151) 50%,
    var(--rich-black-fogra) 90%
  );
}
/* ========
skills
=========*/

.skill {
  padding: 2rem 0;
  text-align: center;
  transition: var(--transition);
}
.skill-icon {
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  transition: var(--transition);
}
.skill-text {
  width: 17rem;
  margin: 0 auto;
}
.skill:hover {
  background: var(--gold-web-golden);
  box-shadow: 0px 10px 0px 0px white;
  color: var(--rich-black-fogra);
}
.skill:hover .skill-icon {
  transform: translateY(-7px);
}
@media screen and (min-width: 500px) {
  .skill {
    width: 50%;
    float: left;
  }
}
@media screen and (min-width: 1100px) {
  .skill {
    width: 25%;
  }
}
/* end of skill================= */
/* about===================== */
.lebar-about {
  margin: 1rem auto;
}
.gambar,
.tentang {
  margin: 2rem auto;
}
.gambar {
  overflow: hidden;
  max-width: 30rem;
  border: var(--gold-web-golden) solid 8px;
}
.gambar-foto {
  transition: var(--transition);
  opacity: 0.5;
}
.gambar:hover .gambar-foto {
  opacity: 1;
  transform: scale(1.2);
}
.tentang {
  margin: 2rem 0;
}
.para-expain {
  max-width: 26rem;
}
@media screen and (min-width: 992px) {
  .tengah,
  .tentang {
    width: 50%;
    float: left;
  }
  .tentang {
    padding: 0 2rem;
  }
}
/* end of about===================== */
/* product */
.product {
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(110, 0, 0, 1) 100%
  );
}
.product-satu,
.info-product {
  padding-top: 2rem;
  margin-bottom: 1.5rem;
}
.gambar-product {
  border-radius: var(--radius-border);
  margin-bottom: 2rem;
  height: 17rem;
  object-fit: cover;
}
img + h4 {
  font-size: 1.5rem;
}
.harga-product {
  color: var(--gold-web-golden);
}
@media screen and (min-width: 768px) {
  .product-satu {
    float: left;
    width: 50%;
    padding-right: 1rem;
  }
}
@media screen and (min-width: 992px) {
  .product-satu {
    width: 33.33%;
  }
}
@media screen and (min-width: 1200px) {
  .info-product,
  .list-product {
    float: left;
  }
  .info-product {
    width: 30%;
    padding: 2rem 1rem 0 0;
  }
  .list-product {
    width: 70%;
  }
}
/* end of product */
/* services  */
.services {
  background-color: maroon;
}

.services-title {
  text-align: center;
  margin-top: 1rem;
}
.gambar-it {
  background-color: var(--oxford-blue);
  border-radius: 10px;
  margin-bottom: 2rem;
  transition: var(--transition);
}
.gambar-it:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.75);
}
.gambar-service {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 17rem;
  object-fit: cover;
}
.info-sevices {
  text-align: center;
  padding: 2.5rem 0;
}
.info-sevices p {
  padding-bottom: 2.5rem;
  max-width: 20rem;
}
.info-sevices h4 {
  font-size: 1.5rem;
}
.btn-sevices {
  padding: 5px 20px;
  border-radius: var(--radius-border);
  text-transform: capitalize;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .gambar-it {
    float: left;
    width: 45%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 992px) {
  .gambar-it {
    width: 30%;
    margin-right: 3.333%;
  }
}
.container-dan-icon {
  position: relative;
}
.logo-services {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 2rem;
  padding: 0.25rem 0.6rem;
  border-radius: 50%;
  color: var(--prussian-blue);
  background-color: var(--mikado-yellow);
  transform: translate(-50%, 50%);
  border: 0.375rem solid var(--oxford-blue);
}
/* contact form */
/* contact form */
/* contact form */
.contact-section {
  background-color: var(--oxford-blue);
  padding: 2rem 1.5rem;
}
.float-contact {
  margin: 2rem 0;
}
@media screen and (min-width: 992px) {
  .float-contact {
    float: left;
    width: 50%;
  }
}

.contact-info {
  margin-bottom: 1.5rem;
}
.judul-contact-info {
  font-weight: 400;
  font-size: 1rem;
}
.isi-contact-info {
  font-weight: 700;
  color: var(--gold-web-golden);
}
.contact-form {
  background-color: var(--rich-black-fogra);
  border-radius: var(--radius-border);
  text-align: center;
  box-shadow: 0 0 15px 5px rgba(141, 74, 74, 0.15);
  transition: var(--transition);
  max-width: 35rem;
}
.contact-form:hover {
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.35);
}
.judul-form {
  padding: 1rem 0;
}
.margin-form {
  margin: 0 1rem 2rem 1rem;
}
.isi-form {
  display: block;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 10px;
  border-radius: var(--radius-border);
}
form [placeholder] {
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: var(--ff-primary);
}

.btn-form {
  padding: 15px 0;
  display: block;
  width: 100%;
  border-bottom-left-radius: var(--radius-border);
  border-bottom-right-radius: var(--radius-border);
  border: none;
}
/* footer-----------------footer */
/* footer-----------------footer */
/* footer-----------------footer */
footer {
  text-align: center;
  margin: 2rem;
}
.icon-footer {
  font-size: 2rem;
  margin: 0.75rem;
  color: white;
}
.icon-footer:hover {
  color: var(--gold-web-golden);
}
.text-footer {
  font-size: 1rem;
  font-weight: 400;
}
.company {
  color: var(--mikado-yellow);
}
